<h3>ただいま混みあっています</h3>
<h4>しばらくたってから再度、アクセスいただきますようお願い致します．</h4>
<p>
  前回ログインから時間が経過している場合、<br/>
  <a href="<%= ::SystemSetting.get_setting(:lms_url, 1)%>"><%= ::SystemSetting.get_setting(:lms_url, 1)%></a><br/>
  から再ログイン後に、当該コースから、再度、eポートフォリオにアクセス下さい。
</p>